.logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, .2);
	margin: 16px 24px 16px 0;
	float: left;
}

.logoApp {
	height: 21px;
	margin-top: -30px;
	width: 157px;
}

.ant-layout-header {
	background-color: #fff ;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 1, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 8, 0.2) ;
	font-size: 13px ;
	width: 100% ;
	top: 0 ;
}

.ant-menu-item {
	color: #3c495a !important;
	font-size: 13px;
	font-family: inherit;
	font-weight: 500;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
	color: #3c495a !important;
	background: #ffffff !important;
	font-weight: 500;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background-color: transparent ;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
	color: #3c495a ;
}

.ant-menu-item,
.ant-menu-submenu-title {
	padding: 0px 10px ;
}

.submenu-title-wrapper {
	font-size: 13px ;
}

.ant-avatar-image {
	top: -5px;
	right: -15px;
	left: 2px;
}
